@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Skranji:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Skranji:wght@400;700&display=swap');


body#home-page {
  background: black;
  font-family: 'Skranji', 'Copperplate', Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

body {
    background: #333333;
    font-family: 'Copperplate', Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

div {
    background: #eee;
    padding: 20px;
    border: 5px double lightblue;
    margin: 30px;
    
}

.intro {
    text-align: center;
    font-size: xx-large;
    margin: 100px;
}

.title {
  padding: 20px;
  border: 5px double lightblue;
  margin: 40px;
  font-size: 70px;
  text-align: center;
}

.title#recipe-title {
    background-color: #eee;
    font-family: 'Skranji', 'sans-serif';
    font-size: 50px;
}

.recipes-list {
    font-size: x-large;
    margin: auto;
    margin-top: 100px;
    width: 75%;
}

.recipe-intro {
    text-align: center;
    max-width: fit-content;
    margin: auto;
    margin-top: 40px;
}

.recipe-item {
    margin: 50px;
}

.recipe-pic {
    display: block;
    margin: auto;
    width: 75%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.home-link {
  display: block;
  font-size: x-large;
  margin: 0px auto;
  max-width: fit-content;
  padding: 1px;
  padding-left: 30px;
  padding-right: 30px;
}

.long-secret {
    margin-top: 10000px;
    margin-bottom: 10000px;
    background: black;
    font-family: 'Skranji', sans-serif;
    font-size: 20px;
    color: white;
    border: none;
}

.inline-list {
    list-style-position: inside;
}

#odin-main {
    display: block;
    margin: auto;
    border: 5px double lightblue;
    width: 75%;
    height: auto;
}

#odin-corner {
    display: block;
    float: right;
    margin: 10px;
}

#secret-body {
    background: black;
    font-family: 'Skranji', sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;
    border: 5px double red;
    text-align: center;
}

#ominous {
    color: red;
    font-family: 'Creepster', 'Skranji', sans-serif;
    font-size: 40px;

}